{% extends "_layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>
<!-- The rest of your strategic analysis panel code, cleaned up to use central CSS and no inline styles -->
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    var tableOptions = {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json"
        },
        "pageLength": 10,
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tümü"]]
    };
    $('#reorderTable').DataTable(tableOptions);
    $('#slowMovingTable').DataTable(tableOptions);
    $('#locationActivityTable').DataTable(tableOptions);
});
</script>
{% endblock %}